header {
	background: maroon;
	color:white;
	font-family: Arial, Helvetica, sans-serif;	
}
h1 {
	color: white;
    text-align: center;
	font-family: Arial, Helvetica, sans-serif;
}
footer {
	background: black;
	color:white;
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
}

/* unvisited link */
a:link {
	color: white;
	text-transform: lowercase;
	font-weight: bold;
	font-family: 'Love Ya Like A Sister', cursive;
	font-weight: normal;
}
/* visited link */
a:visited {
	color: black;
	text-transform: uppercase;
	font-family: 'Love Ya Like A Sister', cursive;
	font-weight: normal;
}
/* mouse over link */
a:hover {
	color: maroon;
	background-color: white;
	text-transform: uppercase;
	font-weight: bold;
	font-family: 'Love Ya Like A Sister', cursive;
}
/* selected link */
a:active {
	color: gray;
	text-transform: lowercase;
	font-weight: normal;
	text-decoration: none;
	font-family: 'Love Ya Like A Sister', cursive;
}