body {
    background-color: powderblue;
}
h1 {
    color: blue;
}
p {
    color: midnightblue;
}
th {
	text-decoration:underline;
}
ul li {
    margin: 1px;
	padding: 1px;
	font-family:sans-serif;
	font-size:small;
	font-style: italic;
}
table {
	border-collapse: collapse;
    width: 100%;
}
th, td {
    padding: 2px;
    text-align: center;
    border-bottom: 1px solid grey;
}

tr:hover {
	background-color:#f5f5f5
}