body {
    background-color: powderblue;
}
h1 {
    color: blue;
}
p {
    color: midnightblue;
}
th {
	text-decoration:underline;
}
ul li {
    margin: 1px;
	padding: 1px;
	font-family:sans-serif;
	font-size:small;
	font-style: italic;
}
table {
	border-collapse: collapse;
    width: 100%;
}
th, td {
    padding: 2px;
    text-align: center;
    border-bottom: 1px solid grey;
}

/* unvisited link */
a:link {
	text-decoration: none;
	text-transform: capitalize;
}
/* visited link */
a:visited {
	text-decoration: none;
	text-transform: lowercase;
}
/* mouse over link */
a:hover {
	text-transform: uppercase;
	text-decoration: underline;
	color: blue;
	background-color: white;
}
/* selected link */
a:active {
	text-decoration: none;
	text-transform: uppercase;
}