body {
    background-color: powderblue;
}
h1 {
    color: blue;
}
p {
    color: midnightblue;
}
th {
	text-decoration:underline;
}
ul li {
    background: #cce5ff;
    margin: 5px;
	font-family: cursive;
	padding: 3px;
}
table {
	border-collapse: collapse;
    width: 100%;
}
th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid grey;
}

tr:hover {
	background-color:#f5f5f5
}